[Unit]
Description=Appstack Platoon service
After=syslog.target

[Service]
ExecStart=/siq/svc/platoon/platoon-ctl start
ExecStop=/siq/svc/platoon/platoon-ctl stop
RuntimeDirectory=platoon
Restart=always
KillSignal=SIGQUIT
Type=forking
PIDFile=/var/siq/run/platoon.pid
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
